# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# TypeScript files
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/
*.swp

# Operating System files
.DS_Store
Thumbs.db

# Miscellaneous
coverage/
*.tgz
*.zip
